body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

button {
    padding: 7px 14px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 2px;
}
.task .buttons{
    display: flex;
    gap: 6px;
}
.done{
    background-color: green;
    color: white
}
.edit{
    background-color: orange;
    color: white;
}
.delete{
    background-color: red;
    color: white;
}
button:hover {
    background-color: #4cae4c;
}

.task {
    margin: 20px auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.task-done{
    text-decoration: line-through;
    color: gray;
}
#task{
    margin-top: 20px;
    background-color: aliceblue;
    height: 20px;
}
#taskInput{
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}