body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #4cae4c;
}

.task {
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-done{
    text-decoration: line-through;
    color: gray;
}
#task{
    margin-top: 20px;
    background-color: aliceblue;
    height: 20px;
}
#taskInput{
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}